


.centerContent{
  display: flex;
  height: 80%;
  width: 35%;
  box-shadow: 1px 2px 10px 6px rgba(168,168,168,0.68);
  align-items: center;
  border-radius: 15px;
}
.centerContentElement{
  text-align: center;
}

.title-welcome{
  margin-top: 7%;
  font-size: 1.7em;
  font-weight: 700;
  color:#001881;
}
.subTitle{
  font-size: 1em;
  font-weight: 200;
}

.image-login {
  display: inline-block;
  text-align: center;
  width: 160px;
  height:160px;
}
mat-form-field{
  width: 100%;
}
button{
  margin: 10px;
  text-align: center;
  background-color: #001881;
  color: white;
}
mat-checkbox{
  margin: 10px;
}




// @media only screen and (max-width: 600px){
//   .form-container {
//     position: relative;
//     width: 60%;
//     height: 100%;
//     top: 10%;
//     background-color: aqua;
//     right: 10%;
//     text-align: center;
//     display: flexbox;
//     display: block;
//     text-align: center;
//     align-content: center;
//   }
//   .image-login {
//     width: 200px;
//     height: 200px;
//   }
//   .title-welcome{
//     font-size: 18px;
//     font-weight: 700;
//   }
//   .subTitle{
//     font-size: 14px;
//     font-weight: 200;
//   }
// }

@media only screen and (max-width: 800px){
  .centerContent{
    width: 70%;

  }

}

