<nav class="navbar navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
           class="d-inline-block align-text-top">
      {{title}}
    </a>
  </div>
</nav>


<!-- <div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Bienvenido a la aplicación de {{title}}</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <page-login></page-login>
    </div>
  </div>
</div> -->

<page-login></page-login>




